.count {
    background-color: rgba(199, 44, 156, 0.2);
    border-width: 5px;
    border-radius: 30px;
    width: 300px;
    height: 250px;
    border-color: #0a2808;
    border-style: solid;
}

.errorCount {
    background-color: rgb(232, 58, 58);
    border-width: 5px;
    border-radius: 30px;
    width: 300px;
    height: 250px;
    border-color: black;
    border-style: solid;
}

.button {
    min-width: 100px;
    min-height: 25px;
    border-radius: 15px;
    background-color: #b9f6ca;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover {
    background-color: rgb(107, 164, 141);
    cursor: url(../../public/iconTap.png) 12 0, auto;
}

.button:active {
    background-color: #3a5b4e;
}

.input {
    border-radius: 8px;
    padding-left: 20px;
    width: 100px;;
    background: linear-gradient(70deg, rgb(37, 176, 197), #c46f2c);
}