.counter {
    border-color: black;
    width: 100px;
    height: 25px;
    background-color: #61dafb;
}

.button {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    background-color: #61dafb;
}

.count {
    background-color: cornsilk;
    border-width:5px;
    border-radius: 30px;
    width: 300px;
    height: 250px;
    border-color: black;
    border-style: solid;
}

.errorCount {
    background-color: cornsilk;
    border-width:5px;
    border-radius: 30px;
    width: 300px;
    height: 250px;
    border-color: black;
    border-style: solid;
    color: red;
}

