.App {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(70deg, #25b0c5, #c46f2c);
}

/*.App {
    width: 100vw;
    height: 100vh;
    background: #25b0c5;
    animation: background 60s infinite alternate;
}

@keyframes background {
    50% {
        background: #c46f2c;
        box-shadow: #4ecd32 inset;
    }
}*/
.App p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}